<!DOCTYPE html>
<html>
<link>
    <meta charset="ISO-8859-1">
    <title>Alfresco Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="css/sentimentanalysis.css" ></link>
    <script src="js/sentimentanalysis.js" ></script>
</head>
<body>
    <div class="main">
        <div class="column_center">
            <img src="/images/devcon.png"/>
            <div>
                <form id="analyze">
                    <select id="library">
                        <option value="V1">Stanford NLP</option>
                        <option value="V2">Open NLP</option>
                    </select>
                    <input type="text" id="text" placeholder="Text to analyze..." />
                </form>
            </div>
            <div>
            <div class="results" id="results">
                <div id="positive">
                    <img src="images/bee-positive.svg">
                    <span id="positiverank" class="rank">3</span>
                </div>
                <div id="neutral">
                    <img src="images/bee-neutral.svg">
                    <span id="neutralrank" class="rank">4</span>
                </div>
                <div id="negative">
                    <img src="images/bee-negative.svg">
                    <span id="negativerank" class="rank">3</span>
                </div>
            </div>
            </div>
        </div>

    </div>
</body>
</html>