<!DOCTYPE html>
<html>
<link>
    <meta charset="ISO-8859-1">
    <title>Alfresco Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="css/sentimentanalysis.css" ></link>
    <script src="js/sentimentanalysis.js" ></script>
</head>
<body>
    <div class="main">
        <div class="column_center">
            <img src="/images/devcon.png"/>
            <div>
                <form id="analyze">
                    <input type="text" id="text" placeholder="Text to analyze..." />
                </form>
            </div>
            <div>
                <div class="results" id="results">
                    <object id="positivebee" data="images/bee-positive.svg" type="image/svg+xml"></object>
                    <object id="neutralbee" data="images/bee-neutral.svg" type="image/svg+xml"></object>
                    <object id="negativebee" data="images/bee-negative.svg" type="image/svg+xml"></object>
                </div>
            </div>
        </div>

    </div>
</body>
</html>